* {
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}
 
body {
    background-color: rgb(27, 8, 8);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}
  
#container {
    border: 2px solid rgb(255, 244, 97);
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(63, 20, 20);
    text-align: center;
}

#titulo{
    margin: auto;
    text-align: center;
    width: 200px;
}

label {
    color: white;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-color: rgb(255, 244, 97);
}

img{
    height:350px;
    width: 250px;
    display: block;
    margin: auto;
    border: 2px solid rgb(255, 244, 97);
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(50, 16, 16);
}

div{
    display: grid;
}

button {
    border: none;
    background-color: rgb(255, 244, 97);
    color: rgb(154, 143, 0);
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    transition: transform 0.2s;
    margin-bottom: 5px;
    margin-top: 15px;
    transition: transform 0.2s;
}

button:hover{
    transform: scale(1.03);
    background-color: rgb(70, 70, 212);
    color: rgb(223, 220, 67);
}
