* {
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}
 
body {
    background-color: rgb(8, 8, 27);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
#container {
    border: 2px solid rgb(41, 41, 120);
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(20, 20, 63);
    text-align: center;
}

#titulo{
    margin: auto;
    text-align: center;
    width: 200px;
}

label {
    color: white;
}

input{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border-color: white;
}

img{
    height: auto;
    width: auto;
    display: block;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 5px;
}

div{
    display: grid;
}

button {
    border: none;
    background-color: rgb(223, 220, 67);
    color: rgb(170, 105, 0);
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    transition: transform 0.2s;
    margin-bottom: 5px;
    margin-top: 15px;
    transition: transform 0.2s;
}

button:hover{
    transform: scale(1.03);
    background-color: rgb(70, 70, 212);
    color: rgb(223, 220, 67);
}
